<!doctype html>
<html lang="en">
  <%- include('parts/head.ejs') -%>
  <body>
    <main class="d-flex flex-nowrap">
      <%- include('parts/sidebar.ejs') -%>
      <div class="container">
        <h1>Chat with Llamma</h1>
      </div>
    </div>
    </main>
    <%- include('parts/footer.ejs') -%>
  </body>
</html>