<div class="d-flex flex-md-column align-items-center align-self-center">
  <h1>Chat not found</h1>
  <p>Sorry, we couldn't find the chat you were looking for.</p>
  <p><a href="/" class="btn btn-primary">Create a new chat</a></p>
</div>