<div class="chat-container">
  <div class="chat-messages" id="chat-messages">
    <% messages.forEach(function (message) { %>
      <%- include('message.ejs', { message: message }) -%>
    <% }); %>
  </div>
  <div class="chat-input-container row">
    <form action="#" id="chat-form">
      <div class="row">
        <div class="col-10">
          <input class="chat-input form-control form-control-lg" name="msg" type="text" autocomplete="off" placeholder="Type your message...">
        </div>
        <div class="col">
          <button id="send" class="chat-send btn btn-primary btn-lg">Send</button>
          <button id="cancel-btn" type="button" style="display: none;" class="chat-cancel btn btn-danger btn-lg">Stop</button>
        </div>
      </div>
    </form>
    <small class="text-secondary">Free Preview. Your feedback will help us improve.</small>
  </div>
</div>