<div class="chat-message d-flex mb-2">
  <div class="d-flex">
    <% if (message.isBot) { %>
      <img src="/svg/robot.svg" alt="Robot" class="me-2">
    <% } else { %>
      <img src="/svg/person.svg" alt="User" class="me-2">
    <% } %>
  </div>
  <p class="mb-0"><%= message.message %></p>
</div>